
<div class="container mt-4">
  <!-- Panel de Actividades -->
  <div class="d-flex justify-content-center mb-4">
    <h3>Panel de Actividades</h3>
  </div>

  <div class="row justify-content-center align-items-center">
    <div class="col-md-4 d-flex align-items-center justify-content-center">
      <h4 class="mb-0 me-2">Nombre proyecto: {{Proyecto.nombre }}</h4> <!-- me-3 agrega margen derecho -->
    </div>
    <div class="col-md-4 d-flex align-items-center">
      <select id="estadoSelect" class="form-control" [(ngModel)]="filtros.estadoSeleccionado">
        <option *ngFor="let estado of catEstadoProyecto" [value]="estado.idEstadoProyecto">
          {{ estado.nombre }}
        </option>
      </select>
    </div>
    <div class="col-sm-4 d-flex align-items-center">
      <button type="submit" class="btn btn-warning d-flex align-items-center justify-content-center" 
      style="width: 12rem; height: 2.5rem;"
      (click)="cambiarEstado(Proyecto.idProyecto)"
      >
        <i class="fa-solid fa-arrows-rotate me-2"></i>
        <span>Cambiar Estado</span>
      </button>
    </div>
  </div>
<br>


    <div class="d-flex justify-content-center">
        <form>
          
            <!-- Fila 2: Nombre, Id, Estado de proyecto -->
            <div class="row gy-2 gx-3 align-items-center">
                <div class="col-auto">
                  <h5>Buscar</h5>
                </div>
                
                <div class="col-auto">
                    <label for="nombreProyecto" class="col-form-label small">Nombre</label>
                </div>
                <div class="col-auto">  
                    <input type="text" class="form-control form-control-sm" name="nombre" [(ngModel)]="filtros.nombre">
                </div>
                <div class="col-auto">
                    <label for="idProyecto" class="col-form-label small">ID</label>
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control form-control-sm" name="idProyecto" [(ngModel)]="filtros.idProyecto">
                </div>
                <div class="col-auto">
                    <label for="fechaInicio" class="col-form-label small">Fecha inicio</label>
                </div>
                <div class="col-auto">
             
                    <input type="date" class="form-control form-control-sm" name="fechaInicio" [(ngModel)]="filtros.fechaInicio">
                </div>
                <div class="col-auto">
                    <label for="fechaInicio" class="col-form-label small">-----</label>
                </div>
                <div class="col-auto">
                    <label for="fechaFin" class="col-form-label small">Fecha fin</label>
                 
                </div>
                <div class="col-auto">
               
                    <input type="date" class="form-control form-control-sm" name="fechaFin" [(ngModel)] = "filtros.fechaFin">
                </div>
            </div>
            
            <!-- Fila 5: Botón buscar, botón limpiar -->
            <div class="row gy-2 gx-3 align-items-center">
                <div class="d-flex justify-content-center">
                  <div class="col-auto me-2">
                    <button class="btn btn-primary btn-sm" style="width: 15rem; height: 2rem;" (click)="buscarPedidos()">
                      <i class="fa-solid fa-magnifying-glass me-2"></i> Buscar
                    </button>
                  </div>
                  
                  <div class="col-auto">
                    <button type="submit" class="btn btn-secondary btn-sm" 
                    style="width: 15rem; height: 2rem;"
                    (click)="limpiar()"
                    >
                      <i class="fa-solid fa-eraser me-2"></i> Limpiar
                    </button>
                  </div>

                </div>
          
                       
            </div>
        </form>

    </div>
    <p></p>
   

    <div class="d-flex flex-wrap justify-content-center">
        <div class="card-group">
          
          <div class="card" *ngFor="let actividad of paginatedActividades">
            
            <div class="d-flex flex-column align-items-center">
              <!-- Ícono centrado -->
              <div class="mb-3">
                <div [ngSwitch]="actividad.idTipoActividad">
                  <i *ngSwitchCase="1" class="fa-solid fa-hammer fa-4x"></i>
                  <i *ngSwitchCase="2" class="fa-solid fa-cart-shopping fa-4x"></i>
                  <i *ngSwitchCase="3" class="fa-solid fa-helmet-safety fa-4x"></i>
                  <i *ngSwitchCase="4" class="fa-solid fa-pen-nib fa-4x"></i>
                  <i *ngSwitchDefault class="fa-solid fa-ellipsis-h fa-4x"></i>
                </div>
              </div>
            
              <!-- Botones centrados y del mismo tamaño -->
              <div class="d-flex flex-column w-100">
                <button type="button" class="btn btn-primary btn-block mb-2 d-flex align-items-center justify-content-center" (click)="verActividad(actividad)">
                  <i class="fa-solid fa-eye me-2"></i> Ver
                </button>
                <button type="button" class="btn btn-secondary btn-block mb-2 d-flex align-items-center justify-content-center" (click)="modificarActividad(actividad)">
                  <i class="fa-solid fa-edit me-2"></i> Modificar
                </button>
                <button type="button" class="btn btn-danger btn-block d-flex align-items-center justify-content-center" (click)="eliminarActividad(actividad.idActividad)">
                  <i class="fa-solid fa-trash me-2"></i> Eliminar
                </button>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ actividad.nombre }}</h5>
              <p class="card-text">
                Id Acticidad: {{ actividad.idActividad }}<br>
                Creado por: {{ actividad.usuarioCreo }}<br>
                Tipo Actividad: {{ getTipoNombre(actividad.idTipoActividad) }}<br>
                Estado Actividad: {{ getEstadoNombre(actividad.idEstadoActividad) }}<br>
                Fecha Creación: {{ actividad.fechaCreacion | date }}
              </p>
              <p class="card-text"><small class="text-body-secondary">Creado: {{ actividad.fechaCreacion | date }}</small></p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" href="#" aria-label="Previous" (click)="changePage($event, currentPage - 1)">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage">
              <a class="page-link" href="#" (click)="changePage($event, page)">{{ page }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === pages.length">
              <a class="page-link" href="#" aria-label="Next" (click)="changePage($event, currentPage + 1)">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      
      
  
</div> 